body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
}

body {
    background-color: #eaebed;
}

.container {
    display: inline-block;
    width: 860px;
    padding: 60px 20px;
    margin: 0 calc(50% - 430px);
    /*background-color: yellow;*/
}
/*.left-column {
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
    display: inline-block;
}*/

.img {
    display: inline-block;
    width: 40%;
    float: left;
    margin-top: 10%;
}

.right-column {
    display: inline-block;
    width: 50%;
    margin-top: 20%;
    margin-left: 10%;
    text-align: center;
    /*background-color: aqua;*/
}

.main-title {
    display: inline-block;
    width: 100%;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 80px;
    font-weight: bold;
    color: #696f89;
}

.text {
    display: inline-block;
    width: 100%;
    margin-bottom: 1em;
    font-size: 24px;
    color: #696f89;
}

.text2 {
    display: inline-block;
    width: 100%;
    font-size: 16px;
    margin: 1.4em 0 1em;
    text-align: center;
}

.btn {
    display: inline-block;
    color: #fff;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    background-color: #696f89;
}

.btn:hover {
    background-color: #545764;
}

@media (max-width: 860px) {
    .container {
        width: 660px;
        margin: 0;
        padding: 30px 10px;
        /*background-color: antiquewhite;*/
    }
    .right-column {
        margin-top: 10%;
    }
    .img {
        width: 40%;
        margin: 0 15%;
    }
    .text {
        width: 70%;
        margin: 0 15% 0;
    }
}

@media (max-width: 576px) {
    .container {
        width: 540px;
    }
    .right-column {
        margin-top: 10%;
    }
    .img {
        width: 40%;
        margin: 0 15% 0;
    }
    .text {
        width: 70%;
        margin: 0 15% 0;
    }
}
